@import url("fonts.css");

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap");
@import url("reset.css");
body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  color: #7d7d7d;
}
.header {
  color: #37393f;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 13px;
  text-align: center;
}
.container {
  padding: 50px 15px;
  max-width: 722px;
  margin: 0 auto;
}
.consulting-img {
  max-width: 100%;
  margin-bottom: 37px;
}
.consulting-title,
.consulting-subtitle,
.benefits-title,
.subtitle-benefits {
  font-family: Poppins, sans-serif;
}
.consulting-title {
  color: #37393f;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 13px;
}
.consulting-text {
  line-height: 1.46;
  margin-bottom: 40px;
  max-width: 563px;
}
.consulting-subtitle {
  color: #6b77e5;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 12px;
}
.benefits {
  font-size: 0;
  margin-bottom: 48px;
}
.img-benefits {
  width: 331px;
  margin-right: 29px;
}
.content-benefits {
  display: inline-block;
  width: 332px;
  font-size: 18px;
}
.benefits-title {
  color: #37393f;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 15px;
}
.subtitle-benefits {
  color: #40ddb6;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 23px;
}
.list-benefits li {
  margin-bottom: 35px;
}
.jewellery-block {
  padding: 50px 15px;
  max-width: 1199px;
  margin: 0 auto;
}
.jewellery-content {
  display: inline-block;
  max-width: 563px;
}
.jewellery-content h3 {
  color: #d06b00;
  font-size: 28px;
  margin-bottom: 13px;
}
.jewellery-content p {
  color: #474747;
  font-family: Inter;
  font-size: 20px;
  line-height: 1.8;
  margin-right: 38px;
}

.jewellery-content h1 {
  color: #0e333d;
  font-family: "DM Serif Text", serif;
  font-size: 59px;
  line-height: 1.46;
  margin-bottom: 25px;
}
.jewellery-content p {
  max-width: 563px;
}
.jewellery-img {
  display: inline-block;
  vertical-align: top;
}
.jewellery-img-first {
  display: inline-block;
  margin-right: 22px;
  height: 518px;
  width: 273px;
}
.jewellery-img-second {
  display: inline-block;
  height: 518px;
  width: 273px;
}
.footer {
  color: #37393f;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 13px;
  text-align: center;
}
